.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  color: black;
}
